
<div class="col-md-2">
    <table class="table table-hover">
        <tr> <td>{{post.body}} </td></tr>
         <tr><td>{{ moment(post.dt).fromNow()}}</td></tr>

        {% if current_user == post.author %}
            <tr> <td><b> Автор {{post.author.username}} </b> </td> </tr>
            <tr> <td><a href="{{url_for('main.delete_post', id=post.id)}}">Удалить</td> </tr>
        {% else %}
            <tr> 
                <td><b> <a href="{{url_for('main.profile', username=post.author.username)}}">Автор {{post.author.username}} </a></b> </td> 
            </tr>
            <tr></tr>
        {% endif %}
</table>   
</div>    

