{% extends 'base.html' %}

{% block content %}
    <h1>Главная</h1>
    <h2>Я подписан на</h2>
    {% for followed_user in followed_users %}
        {{followed_user.username}}
        <br>
    {% endfor %}

    <h2>Последние новости</h2>
    {% for post in posts %}
    <div class="post" style=" width: 300px; border: 1px; padding: 5px; margin: 3px; border-style: solid;">
        {{post.title}} <br>
        {{post.body}} <br>
        <b> Автор {{post.author.username}} </b> 
        <br>
    </div>    
    
    {% endfor %}
{% endblock %}