{% extends 'base.html' %}
{% block content %}
    <h1>Моя страница</h1>
    
    <table>
        <tr>
            <td>Имя:</td>
            <td><b>{{user.username}}</b></td>
        </tr>
        
        <tr>
            <td>E-mail:</td>
            <td><b>{{user.email}}</b></td>
        </tr>

        <tr>
            <td>Обо мне</td>
            <td><b>{{user.about_me}}</b></td>
        </tr>

        <tr>
            <td>Был в сети в :</td>
            <td><b>{{user.last_seen}}</b></td>
        </tr>
        
    </table>

    <table>
        <tr>
            <td><a href="{{url_for('edit_profile')}}">Изменить </a></td>  
            
            {% if user == current_user %}
                <td><a href="{{url_for('add_post')}}">Новый пост</a></td>
            {% elif current_user.is_following(user) %}
                <td><a href="{{url_for('unfollow', id=user.id)}}">Отписаться</a></td>
            {% else %}
                <td><a href="{{url_for('follow', id=user.id)}}">Подписаться</a></td>
            {% endif %}
        </tr>
    </table>

    {% if user.follower.first() %}
        <h2>Подписчики:</h2> 
        <table>
            {% for miniuser in user.follower %}
                {% include '_miniuser.html'  %}
            {% endfor %}
        </table>
    {% else %}
            <h2> У вас нет подписчиков</h2>
    {% endif %}
    
    


    {% if posts %}
        <h2>Посты:</h2>
        <table>
            {% for post in posts %}
                {% include '_post.html' %}
            {% endfor %}
            {% include '_paginate.html'   %}
        </table>
    {% else %}
        <h2>Нет ни одного поста</h2>
    {% endif %}
    
{% endblock %}